
@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap');

.imagen {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top:20px ;
    padding-bottom: 20px;
}

.imagen-acordeon {
    width: 600px;
    height: 300px;
}

.imagen-carta {
    width: 100%px;
    height: auto;
}

.centrar {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mate-regular {
    font-family: "Mate", serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    background: url(imagenes/fondo-japo.jpg);
}